@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background_div{
    width: 100%;
    height: 1500px;
    display:flex;
    flex-direction: column;
}

.background_div_page2{
    width: 100%;
    height: 3500px;
    display:flex;
    flex-direction: column;
}

label{
    margin: 0;
}

/* header */
.home_header{
    background-color: white;
    flex: 1;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    text-align: center;
    margin-top : 70px;
}


.home_header_title_div{
    width: 285px;
    margin: auto;
    display: flex;
    height: 71px;
}
.home_header_logo{
    flex: 2;
    background-image: url("../img/weblogo_2.png");
    background-size : 100% 100%;
    background-repeat : no-repeat;
    background-position: center;
}
.home_header_text{
    flex: 8;
}
.home_header_logo_right{
    flex: 2;
}

.home_header_div_1{
    font-family: 'Bebas Neue', cursive;
}
.home_header_div_2{
    /* font-family: 'Jua', sans-serif; */
    font-family: 'GmarketSansMedium', sans-serif;
}

.underline {
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}





/* content */
.home_content{
    background-color: white;
    flex: 10;
    display:flex;
    padding: 15px;
}
.home_content_left_div{
    flex:1;
}
.home_content_right_div{
    flex:1;
}

.home_content_mid_div{
    flex:10;
    display:flex;
    flex-direction: column;
    max-width: 900px;
}


.page1_table1_class{
    border-left-style: none;
    border-right-style: none;
    border-collapse : collapse;
    border-color: rgb(203, 201, 196);
    border-width: 2px;
    text-align: left;
    font-size: 14px;
    
}
.page1_table2_class{
    border-left-style: none;
    border-right-style: none;
    border-color: rgb(190, 190, 190);
    border-collapse : collapse;
    text-align: left;
}

.page1_table3_class{
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: none ;
    border-collapse : collapse;
    text-align: left;
    font-family: 'GmarketSansMedium', sans-serif;
}

.page1_table4_class{border-left-style: none;
                  border-right-style: none;
                  border-top-style: none;
                  border-color: rgb(49, 49, 49);
                  border-width: 2px;
                }



.table_total_class {
    width: 100%;
    font-size: 14px;
}

tr,th,td {
	border-style:solid;
    border-width: 1px;
    border-color:rgb(171, 171, 171);
    font-size: 12px;
    border-collapse : collapse;
}





tbody tr:hover{
    background-color: rgb(230, 230, 230);   
    /* background-color: #f6f6f6;  */
    /* rgba(255, 255, 255, 0.22) */
}

.input_css{
    border: 0 solid black;
    text-align: center;
}







/* footer */
.home_footer{
    background-color: white;
    flex: 1;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    text-align: center;
    padding : 0px 0px 0px 0px;
    /* vertical-align: bottom; */
}

.home_footer_div_1{
    margin: 10px;
    text-align: center;
    /* font-family: 'Jua', sans-serif; */
    font-family: 'GmarketSansMedium';
    font-weight: 500;
}

.home_footer_div_2{
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
}

.home_footer_logo{
    background-image: url("../img/footer.png");
    background-size : 100% 100%;
    background-repeat : no-repeat;
    background-position: center;
    width: 170px;
    height: 45px;
    margin: auto;
    margin-top: 50px;
}

