
.background_div{
    width: 100%;
    height: 2000px;
    display:flex;
    flex-direction: column;
}

.background_div_page2{
    width: 100%;
    height: 3500px;
    display:flex;
    flex-direction: column;
}

label{
    margin: 0;
}

/* header */
.home_header{
    background-color: white;
    flex: 1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    text-align: center;
    margin-top : 70px;
}


.home_header_title_div{
    width: 300px;
    margin: auto;
    display: flex;
}
.home_header_logo{
    flex: 2;
    background-image: url("../img/logo2.png");
    background-size : 90% 90%;
    background-repeat : no-repeat;
    background-position: center;
}
.home_header_text{
    flex: 8;
}
.home_header_logo_right{
    flex: 2;
}

.home_header_div_1{
    font-family: 'Bebas Neue', cursive;
}
.home_header_div_2{
    font-family: 'Jua', sans-serif;
}


/* content */
.home_content{
    background-color: white;
    flex: 10;
    display:flex;
    padding: 15px;
}
.home_content_left_div{
    flex:1;
}
.home_content_right_div{
    flex:1;
}

.home_content_mid_div{
    flex:10;
    display:flex;
    flex-direction: column;
}



.table_total_class {
    width: 100%;
    font-size: 14px;
}

tr,th,td {
	border-style:solid;
    border-width: 1px;
    border-color:rgb(171, 171, 171);
    font-size: 12px;
}

/* th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead th {
	background-color: #55608f; 
} */



tbody tr:hover{
    background-color: rgb(230, 230, 230);   
    /* background-color: #f6f6f6;  */
    /* rgba(255, 255, 255, 0.22) */
}

.input_css{
    border: 0 solid black;
}


/* tbody td{
    position: relative;
}
tbody td:hover::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
} */


/* 
tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
} */


/* .download_btn_div{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center; }  */  /* 세로까지 정렬  */




/* footer */
.home_footer{
    background-color: white;
    flex: 1;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    text-align: center;
    padding : 30px 0px 0px 0px;
}

.home_footer_div_1{
    margin: 10px;
    font-family: 'Jua', sans-serif;
}

.home_footer_div_2{
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
}


